<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b431e00b38.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100">
<!-- Top Menu -->
<nav class="bg-white shadow-md rounded-lg">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <div class="text-lg font-semibold">Admin Dashboard</div>
  </div>
</nav>

<!-- Content -->
<div class="main mx-auto px-4 py-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <a href="#" hx-get="/admin/albums" hx-target=".main"
       class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transform hover:scale-105 transition duration-300">
      <div class="bg-white p-4 rounded-lg shadow-md flex items-center">
        <div class="bg-blue-500 text-white p-3 rounded-full">
          <i class="fa-regular fa-images"></i>
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-semibold">Álbuns</h3>
          <p class="text-gray-600">Gerencie as informações dos álbuns</p>
        </div>
      </div>
    </a>
    <a href="#" hx-get="/admin/metrics/albums/visits" hx-target=".main"
       class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transform hover:scale-105 transition duration-300">
      <div class="bg-white p-4 rounded-lg shadow-md flex items-center">
        <div class="bg-green-500 text-white p-3 rounded-full">
          <i class="fa-solid fa-chart-simple"></i>
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-semibold">Métricas</h3>
          <p class="text-gray-600">Veja as métricas de acessos dos álbuns</p>
        </div>
      </div>
    </a>
  </div>
</div>
</body>
</html>