<div th:fragment="image-preview" class="images-preview flex flex-wrap justify-center">
	<div th:each="image : ${images}" class="image-loaded relative m-2 w-32 h-32 sm:w-40 sm:h-40 md:w-48 md:h-48">
		<input type="hidden" name="photos" th:attr="value=${image.path}"/>
		<img th:src="${image.path}" class="w-full h-full object-cover rounded"/>
		<div th:hx-delete="@{/admin/events/{eventUrl}/photos/{photoUrl}(photoUrl=${image.fileName},eventUrl=${image.eventUrl})}"
				 hx-confirm="Você tem certeza que deseja excluir esta imagem?"
				 hx-target="closest .image-loaded"
				 class="absolute top-0 right-0 mt-2 mr-2 text-white rounded-full p-1 hover:bg-red-700 focus:outline-none">
			<i class="fa-solid fa-trash-can cursor-pointer"></i>
		</div>
	</div>
</div>
