<tr th:id="${package.id}" class="package-item border-b border-gray-200 hover:bg-gray-50">
	<td th:text="${package.title}" class="px-4 py-3 text-gray-600"></td>
	<td th:text="${package.description}" class="px-4 py-3 text-gray-600"></td>
	<td th:text="${#numbers.formatDecimal(package.price, 1, 2, 'COMMA')}" class="px-4 py-3 text-right text-gray-600"></td>
	<td class="px-4 py-3 text-center">
		<!--		<button type="button" class="cursor-pointer text-gray-400 hover:text-gray-600 mx-1 edit-package">-->
		<!--			<i class="ri-edit-line"></i>-->
		<!--		</button>-->
		<button type="button" class="cursor-pointer text-gray-400 hover:text-gray-600 mx-1 delete-package"
						onclick="deletePackageRow(event)">
			<i class="ri-delete-bin-line"></i>
		</button>
	</td>
</tr>