<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:insert="~{fragments/header}"></head>

<body class="bg-gray-100">
  <!-- Header -->
  <div th:insert="~{fragments/top :: top}"></div>

  <!-- Content -->
  <main th:fragment="main" class="main container mx-auto p-4 pt-10 pb-10">
    <nav class="mb-6">
      <ol class="flex text-sm text-gray-500">
        <li class="flex items-center">
          <a href="/events" class="font-['Poppins'] hover:text-primary">Eventos</a>
          <div class="w-4 h-4 flex items-center justify-center mx-1">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </li>
        <li class="flex items-center">
          <a href="#" th:text="${event.event.title}" class="hover:text-primary"></a>
          <div class="w-4 h-4 flex items-center justify-center mx-1">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </li>
        <li class="text-primary font-medium">Álbuns</li>
      </ol>
    </nav>
    <div class="mb-8">
      <div class="flex items-center justify-between">
        <div>
          <h1 th:text="${event.event.title}" class="text-3xl md:text-4xl font-bold text-gray-900 mb-2"></h1>
          <p class="text-gray-600">Navegue entre os álbuns do evento <span th:text="${event.event.title}"
              class="font-bold" /></p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
      <a th:each="subEvents : ${event.subEvents}"
        th:href="@{/events/{eventUrl}/albums/{subEventName}(eventUrl=${event.event.eventUrl}, subEventName=${subEvents.name})}"
        class="folder-card bg-white rounded-md shadow-sm overflow-hidden transition-all duration-300">
        <div class="relative aspect- overflow-hidden">
          <img th:src="${subEvents.coverUrl != null ? subEvents.coverUrl: '/album-image.jpg'}"
            class="w-full h-full object-cover object-top" />
        </div>
        <div class="p-4">
          <h3 th:text="${subEvents.name}" class="text-lg font-semibold text-gray-900 mb-1"></h3>
        </div>
      </a>
    </div>
  </main>
  <!-- footer -->
  <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
