<DOCTYPE html>
	<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">

	<head th:insert="~{fragments/header}"></head>

	<body class="bg-gray-100">
	<!-- Header -->
	<div th:insert="~{fragments/top :: top}"></div>

	<!-- Content -->
	<main th:fragment="main" class="main container mx-auto p-4">
		<h1 class="text-3xl font-bold text-center mb-8">Onde estaremos!</h1>
		<div th:insert="~{fragments/carousel}"></div>
		<section th:fragment="albums" class="py-10 bg-white">
			<div class="container mx-auto px-4">
				<div class="text-center mb-12">
					<h2 class="text-3xl md:text-4xl font-bold mb-4">Eventos Anteriores</h2>
					<p class="font-['Montserrat'] text-gray-600 max-w-2xl mx-auto">
						Reveja o que rolou nos eventos anteriores através da nossa coleção de álbuns
					</p>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
					<!-- Album 1 -->
					<div th:each="album : ${albums}" class="album-card group" data-category="festival">
						<div class="bg-white rounded-lg overflow-hidden shadow-md hover:shadow-xl transition-shadow duration-300">
							<div class="relative h-64 overflow-hidden">
								<img th:src="${album.thumbUrl}" th:alt="${album.title}"
										 class="w-full h-full object-cover object-top transform group-hover:scale-105 transition-transform duration-500"/>
								<div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
								<!--                <span class="absolute top-4 right-4 bg-primary text-white px-3 py-1 rounded-full text-sm">Festival</span>-->
								<span th:text="${album.descriptiveDate}"
											class="font-['Montserrat'] absolute top-4 left-4 bg-black/50 text-white px-3 py-1 rounded-full text-sm"></span>
							</div>
							<div class="p-6">
								<h3 th:text="${album.title}" class="font-['Montserrat'] text-xl font-bold mb-2"></h3>
								<p class="text-gray-600 mb-4">Veja as fotos acessando o álbum do evento</p>
								<div class="flex items-center justify-between">
									<div class="flex items-center text-gray-500">
										<i class="ri-map-pin-line mr-2"></i>
										<span th:text="${album.city}" class="font-['Poppins'] text-sm"></span>
									</div>
									<button class="text-primary hover:text-opacity-80 transition-colors flex items-center">
										<a th:href="@{/{albumId}/visit(albumId=${album.id})}" th:title="${album.title}">
											Ver álbum<i class="ri-arrow-right-line ml-1"></i>
										</a>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<!-- footer -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	</body>
	</html>
</DOCTYPE>