<div class="overflow-x-auto">
	<table class="min-w-full divide-y divide-gray-200">
		<thead class="bg-[#fef2f3]">
		<tr>
			<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
				<div class="flex items-center">
					Album
				</div>
			</th>
			<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
				Categoria
			</th>
			<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
				Qtd fotos
			</th>
			<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
				Status
			</th>
			<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
				Criado em
			</th>
			<th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
				Ações
			</th>
		</tr>
		</thead>
		<tbody id="albumsTableBody" class="bg-white divide-y divide-gray-200">
		<tr th:each="album : ${albums.content}" class="hover:bg-gray-50">
			<td class="px-6 py-4 whitespace-nowrap">
				<div class="flex items-center">
					<div class="flex-shrink-0 h-10 w-10 rounded overflow-hidden">
						<img th:src="${album.thumbUrl}" th:alt="${album.title}" class="h-10 w-10 object-cover"/>
					</div>
					<div class="ml-4">
						<div th:text="${album.title}" class="text-sm font-medium text-gray-900"></div>
						<div class="text-sm text-gray-500">42 photos</div>
					</div>
				</div>
			</td>
			<td class="px-6 py-4 whitespace-nowrap">
				<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-[#f0f7ff] text-blue-800">Evento</span>
			</td>
			<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">42</td>
			<td class="px-6 py-4 whitespace-nowrap">
				<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Publicado</span>
			</td>
			<td th:text="${album.descriptiveDate}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>
			<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
				<div class="flex justify-end space-x-2">
					<button class="text-gray-500 hover:text-primary">
						<div class="w-5 h-5 flex items-center justify-center">
							<i class="ri-edit-line"></i>
						</div>
					</button>
					<button class="text-gray-500 hover:text-red-600" hx-delete="@{/admin/albums/{albumId}(albumId=${album.id})}" hx-target="#albumsTableBody"
									hx-confirm="Tem certeza que deseja excluir este álbum?" hx-indicator="#loading-indicator">
						<div class="w-5 h-5 flex items-center justify-center">
							<i class="ri-delete-bin-line"></i>
						</div>
					</button>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div class="flex items-center justify-between px-4 py-3 sm:px-6 mt-4">
	<div class="flex-1 flex justify-between sm:hidden">
		<a th:if="${!albums.first}" th:hx-get="@{/albums?page={page}(page=${albums.number})}" hx-target="#albumsTable"
			 class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-button text-gray-700 bg-white hover:bg-gray-50">
			Anterior
		</a>
		<a th:if="${!albums.last}" th:hx-get="@{/albums?page={page}(page=${albums.number + 2})}" hx-target="#albumsTable"
			 class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-button text-gray-700 bg-white hover:bg-gray-50">
			Próximo
		</a>
	</div>
	<div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
		<div>
			<p class="text-sm text-gray-700">
				Mostrando <span th:text="${albums.number + 1}" class="font-medium"></span> de
				<span th:text="${albums.totalPages}" class="font-medium"></span> de
				<span th:text="${albums.totalElements}" class="font-medium"></span> resultados
			</p>
		</div>
		<!-- pagination -->
		<div>
			<nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
				<a th:if="${!albums.first}" th:hx-get="@{/albums?page={page}(page=${albums.number})}" hx-target="#albumsTable"
					 class="cursor-pointer relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
					<span class="sr-only">Anterior</span>
					<div class="w-5 h-5 flex items-center justify-center">
						<i class="ri-arrow-left-s-line"></i>
					</div>
				</a>
				<a th:each="page : ${pagination}" th:text="${page}" th:hx-get="@{/albums?page={page}(page=${page})}" hx-target="#albumsTable"
					 th:class="${page == albums.number + 1 + ''
							? 'z-10 bg-primary border-primary text-white relative inline-flex items-center px-4 py-2 border text-sm font-medium'
							: 'cursor-pointer bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium'}">
				</a>
				<a th:if="${!albums.last}" th:hx-get="@{/albums?page={page}(page=${albums.number + 2})}" hx-target="#albumsTable"
					 class="cursor-pointer relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
					<span class="sr-only">Próximo</span>
					<div class="w-5 h-5 flex items-center justify-center">
						<i class="ri-arrow-right-s-line"></i>
					</div>
				</a>
			</nav>
		</div>
	</div>
</div>