<style>
  #DECLINED,
  #EXPIRED {
    background-color: #fef2f3;
    color: #b91c1c;
  }

  #IN_ANALYSIS,
  #WAITING {
    background-color: #fef3c7;
    color: #ca8a04;
  }

  #PAID {
    background-color: #bbf7d0;
    color: #166534;
  }
</style>
<div class="flex flex-col md:flex-row md:items-center md:justify-between mb-6">
  <div class="flex flex-col">
    <h2 class="text-lg font-medium text-gray-900">Pagamentos</h2>
    <span class="text-sm text-gray-500">Selecione um evento para visualizar os pagamentos disponíveis.</span>
  </div>
  <div class="mt-4 md:mt-0 flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-3 md:items-center">
    <div class="relative">
      <select name="eventId" hx-target="#payments-table" th:hx-get="@{/admin/events/payments/details}"
        hx-trigger="change"
        class="appearance-none bg-gray-50 border border-gray-300 text-gray-700 py-2 pl-3 pr-8 rounded-button text-sm focus:outline-none focus:ring-2 focus:ring-primary">
        <option value="" selected>Selecione um evento</option>
        <option th:each="event : ${events}" th:text="${event.title}" th:value="${event.id}"></option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <div class="w-4 h-4 flex items-center justify-center">
          <i class="ri-arrow-down-s-line"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="payments-table"></div>
