<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Zouk Me In - Albums</title>
</head>
<body class="bg-gray-100">
<!-- Content -->
<main class="main content container mx-auto">
  <h1 class="text-3xl font-bold mb-6">Detalhes do evento</h1>
  <div id="album-form" th:fragment="albums-form" class="album-form bg-white p-6 rounded-lg shadow-md space-y-4">
    <div>
      <label class="block text-gray-700">Título</label>
      <input name="title" class="w-full mt-1 p-2 border border-gray-300 rounded-md" placeholder="Ex.: Elite Samba Congress 2024">
    </div>
    <div>
      <label class="block text-gray-700">Cidade/Estado</label>
      <input name="city" class="w-full mt-1 p-2 border border-gray-300 rounded-md"
             placeholder="Ex.: Balneário Camboriú/SC">
    </div>
    <div>
      <label class="block text-gray-700">URL do álbum</label>
      <input name="url" type="url" class="w-full mt-1 p-2 border border-gray-300 rounded-md" placeholder="Ex.: https://www.zoukme.in/album/esc2024">
    </div>
    <div>
      <label class="block text-gray-700">Imagem da capa</label>
      <input name="thumbUrl" type="url" class="w-full mt-1 p-2 border border-gray-300 rounded-md"
             placeholder="https://www.zoukme.in/album/esc2024/image.jpg">
    </div>
    <div>
      <label class="block text-gray-700">Data do evento</label>
      <input name="eventDate" type="date" class="w-full mt-1 p-2 border border-gray-300 rounded-md">
    </div>
    <div class="text-center">
      <button hx-get="/admin/albums" hx-target="closest .main" type="submit"
              class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700">Cancelar
      </button>
      <button hx-post="/admin/albums/create" hx-include="#album-form" hx-target="closest .main" type="submit"
              class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">Criar
      </button>
    </div>
  </div>
</main>

</body>
</html>
