<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Zouk Me In - Albums</title>
</head>
<body class="bg-gray-100">
<!-- Content -->
<main class="main content container mx-auto">
  <div th:fragment="album" class="container mx-auto">
    <h1 class="text-3xl font-bold mb-6">Álbuns</h1>
    <div class="m-2">
      <button hx-get="/admin/albums/create" hx-target="closest .main" type="submit"
              class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">Criar novo
      </button>
    </div>
    <div class="bg-white p-6 rounded shadow">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Evento</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Opções</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <!-- Event Row -->
        <tr th:each="album : ${albums}">
          <td class="px-6 py-4 whitespace">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 rounded-full" th:src="${album.thumbUrl}" th:alt="${album.title}">
              </div>
              <div class="ml-4">
                <div th:text="${album.title}" class="text-sm font-medium text-gray-900"></div>
                <div th:text="${#temporals.format(album.eventDate,'dd/MM/yyyy')}" class="text-sm text-gray-500"></div>

              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button th:hx-get="@{/admin/albums/{albumId}/update(albumId=${album.id})}" hx-target="closest .main" type="submit"
                    class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">Editar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

</body>
</html>
